

.grid-layout{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 20vw auto ;
    grid-template-rows: 20vh 10vh auto;
   max-width: 100%;
    text-align: center;
}
.grid-layout>header{
    grid-column: 1/span2;
}
.grid-layout>footer{
    grid-column: 1/span2;
   
    height: 15vh;
}
.grid-layout>main{
  
    grid-column: 2/span1;
}
.grid-layout>aside{
    border-radius: 20px;
    grid-row:2/span2;
    max-width: 20vw;
}